
/*    Document   : ciMainMenu.css
    Created on : May 26, 2013
    Author     : sdothard*/


   /* General settings */
body, ul, li, a{
	font-family: verdana,geneva,arial,helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    list-style: none outside none;
}

#container{
	width:900px;
	margin:0 auto;
	background: white;
	height: 1070px;
}
#content{
	position:relative;
	float:left;
	width: 700px;
}
#content p{
	padding:10px;
	font-weight: normal;
}
#header img{
	width:900px;
	height: 300px;
}

/* HORIZONTAL */

.shadowblockmenu {
    border: 0 none;
}
.shadowblockmenu p {
    clear: left;
}
.shadowblockmenu #current {
    color: #FFFFFF;
}
.shadowblockmenu ul {
	background: #d1d1d1;
	width:900px;
    height: 40px;
}
.shadowblockmenu li {
	border: 1px solid #DFDFDF;
    float: left;
    padding: 10px;
}
.shadowblockmenu li a {
    color: #666666;
    text-align: center;
    text-decoration: none;
}
.shadowblockmenu li a:hover {
    color: #444444;
    text-decoration: none;
}
.shadowblockmenu li ul {
    background: none repeat scroll 0 0 #E0E0E0;
    margin-left:-10px;
    margin-top:10px;
    display: none;
    height: auto;
    position: absolute;
    width: 225px;
    z-index: 200;
}
.shadowblockmenu li:hover ul {
    display: block;
}
.shadowblockmenu li li {
    display: block;
    float: none;
    padding: 0;
    width: 225px;
}
.shadowblockmenu li ul a {
    display: block;
    padding:10px;
    text-align: left;
}
.shadowblockmenu li ul a:hover {
    background: none repeat scroll 0 0 #949494;
    color: #000000;
    opacity: 1;
}

/* VERTICAL */

.menu-vertical {
	position:relative;
    border: 0 none;

    height: 770px;
    float:left;
    width: 200px;
}
.menu-vertical p {
    clear: left;
}
.menu-vertical #current {
    color: #FFFFFF;
}
.menu-vertical ul {
	background: #d1d1d1;
	height: 100%;
    width: inherit;
}
.menu-vertical li {
	border: 1px solid #DFDFDF;
    float: left;
    padding: 10px;
    width:178px;
    position: relative;
}
.menu-vertical li a {
    color: #666666;
    text-align: center;
    text-decoration: none;
}
.menu-vertical li a:hover {
    color: #444444;
}
.menu-vertical li ul {
    background: none repeat scroll 0 0 #E0E0E0;
    display: none;
    position: absolute;
    top:0;
    left:200px;
    width: 200px;;
    z-index: 200;
    height: auto;
}
.menu-vertical li:hover ul {
    display: block;
}
.menu-vertical li li {
    display: block;
    float: none;
    width: 198px;
    padding:0;
}
.menu-vertical li ul a {
    display: block;
    padding:10px;
    text-align: left;
}
.menu-vertical li ul a:hover {
    background: none repeat scroll 0 0 #949494;
    color: #000000;
    opacity: 1;
}