
/*    Document   : ciMainMenu.css
    Created on : May 26, 2013
    Author     : sdothard*/


/* General settings */
body, ul, li, a{
    font-family: verdana,geneva,arial,helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    list-style: none outside none;
}
fieldset.news{
    border-style:solid;
    border-width:1px;
    border: 1px solid #C9E0ED;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
fieldset{
    padding: 10px;
}
fieldset.news legend{
    font-size: 18px;
}
fieldset.news p {
    padding: 5px;
}
div.view
{
    -moz-border-radius: 15px;
    border-radius: 15px;
}
div.centriod
{
    background: #ffff99;
}

#logo1
{
    text-decoration: none;
    color: black;
}

/**
 * Override the css that keeps the "first" and "last" buttons from showing on the pager controls.
*/
#page ul.yiiPager .first,
#page ul.yiiPager .last
{
    display:inline;
}
li.separator a{
    border-top: solid #fff;
    border-top-width: 1px;
}
#container{
    width:90%;
    margin:0 auto;
    background: white;
    height:1070px;
}
/*#content{
        position:relative;
        float:left;
        width: 90%;
}*/
#content p{
    padding:10px;
    font-weight: normal;
}
/*#header img{
        width:900px;
        height: 300px;
}*/
/*Attach images to menu icons*/
.menu-icon-helpdesk {    
    border-left: 1px solid #BBB; /* add border to left side of first menu link */
    padding-left: 18px;
    background:url("../assets/images/icons/receptionist.png")1px center no-repeat;
    background-size:25px 25px;
    background-origin:padding-box;

}
.menu-icon-home{
    border-left: 1px solid #BBB; /* add border to left side of first menu link */
    background:url("../assets/images/icons/home.png")1px center no-repeat;
    background-size:25px 25px;
    background-origin:padding-box;
}  
.menu-icon-evidence {    
    border-left: 1px solid #BBB; /* add border to left side of first menu link */
    background:url("../assets/images/icons/evidence.png")1px center no-repeat;
    background-size:25px 25px;
    background-origin:padding-box;
}
.menu-icon-admin{
    border-left: 1px solid #BBB; /* add border to left side of first menu link */
    background:url("../assets/images/icons/calendar.png")1px center no-repeat;
    background-size:25px 25px;
    background-origin:padding-box;
}  
.menu-icon-it {    
    border-left: 1px solid #BBB; /* add border to left side of first menu link */
    background:url("../assets/images/icons/tools.png")1px center no-repeat;
    background-size:25px 25px;
    background-origin:padding-box;
}
.menu-icon-timelog{
    border-left: 1px solid #BBB; /* add border to left side of first menu link */
    background:url("../assets/images/icons/timelog.png")1px center no-repeat;
    background-size:25px 25px;
    background-origin:padding-box;

}  
.menu-icon-evaluation {    
    border-left: 1px solid #BBB; /* add border to left side of first menu link */
    background:url("../assets/images/icons/folder.png")1px center no-repeat;
    background-size:25px 25px;
    background-origin:padding-box;
}
.menu-icon-link {    
    border-left: 1px solid #BBB; /* add border to left side of first menu link */
    background:url("../assets/images/icons/link.png")1px center no-repeat;
    background-size:25px 25px;
    background-origin:padding-box;
}
.menu-icon-user{
    border-left: 1px solid #BBB; /* add border to left side of first menu link */
    background:url("../assets/images/icons/person.png")1px center no-repeat;
    background-size:25px 25px;
    background-origin:padding-box;
}  
/* HORIZONTAL */

.menu-icon-user.last {
    float:right;
    padding-right: 15px;
}
.menu-horizontal {
    border: 0 none;
}
.menu-horizontal p {
    clear: left;
}
.menu-horizontal #current {
    color: #FFFFFF;
}
/*.menu-horizontal ul li:nth-child(1) {
    border-left: 1px solid #BBB;  
    padding-left:25px;
    background:url("../assets/images/icons/home.png")1px center no-repeat;
    background-size:20px 20px;
}*/
.menu-horizontal ul {
    background: #fff;
    width:100%;
    height: 40px;
    box-shadow: inset -0px 0 10px rgba(114,114,114, 0.4);
}
.menu-horizontal li:hover {

    box-shadow: inset -7px 0 10px rgba(60,162,221, 0.4), inset 0 0 12px rgba(60,162,221, 0.6);
}
.menu-horizontal li span {
    padding-left: 20px;   
    background-position-x: 5px;
}
.menu-horizontal li {
    float: left;
    padding: 10px;   

}
.menu-horizontal li a {
    padding-left: 18px;
    color: #666666;
    text-align: center;
    text-decoration: none;
}
.menu-horizontal li a:hover {
    color: #666666;
    text-decoration: none;    
}
.menu-horizontal li ul {
    background: rgba(60,162,221, 0.6);
    margin-left:-10px;
    margin-top:10px;
    display: none;
    height: auto;
    position: absolute;
    width: 225px;
    z-index: 200;    
}
.menu-horizontal li:hover ul {
    display: block;

}
.menu-horizontal li li:hover{
    box-shadow: none;  background: #314f6a;
}
.menu-horizontal li li {
    background-color: #80CFFF;
    display: block;
    float: none;
    padding: 0;
    width: 225px;
    border-color: #fff;    
}
.menu-horizontal li ul a {
    color: #003366;
    display: block;
    padding:10px;
    text-align: left;
}
.menu-horizontal li ul a:hover {
    color: #fff;    
}
/* VERTICAL */

.menu-vertical {
    position:relative;
    border: 0 none;
    float:left;
    width: 100%;

}
.menu-vertical p {
    clear: left;

}
.menu-vertical #current {
    color: #FFFFFF;
}
.menu-vertical ul {

    height: 100%;
    width: inherit;
}
.menu-vertical li {
    border: 1px solid #557A8E;
    float: left;
    padding: 10px;
    width:100%;
    position: relative;
    background-color: #003366
}
.menu-vertical li:hover {
    border: 1px solid #fff;
    background-color: #314f6a;
}
.menu-vertical li a {
    color: #fff;
    text-align: left; text-indent: 5px;
    text-decoration: none;
}
.menu-vertical li a:hover {
    color: transparent;
}
.menu-vertical li ul {
    background: none repeat scroll 0 0 #E0E0E0;
    display: none;
    position: absolute;
    top:0;
    left:200px;
    width: 200px;;
    z-index: 200;
    height: auto;
}
.menu-vertical li:hover ul {
    display: block;
}
.menu-vertical li li {
    display: block;
    float: none;
    width: 198px;
    padding:0;
}
.menu-vertical li ul a {
    display: block;
    padding:10px;
    text-align: left;
}
.menu-vertical li ul a:hover {
    background: none repeat scroll 0 0 #949494;
    color: #000000;
    opacity: 1;
}
/*portlet class for widgets*/
#sidebar
{
    padding: 20px 20px 20px 0;
    background-color: #F0E3A3;

}
sidebar, portlet {
    background:#F0E3A3;
}
#sidebar, portlet-content {
    /*background-color: #F0E3A3;*/
    font-size:0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px; 
}

#sidebar, portlet-decoration
{
    padding: 3px 8px;
    /*	background: #fff;
            border-left: 5px solid #fff;*/
}

#sidebar, portlet-title
{
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    /*	color: #298dcd;*/
}

#sidebar, portlet-content ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0;
    padding: 0;
    /*background:#F0E3A3;*/
}

#sidebar, portlet-content li
{
    padding: 2px 0 4px 0px;
}
#sidebar, operations
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sidebar, operations li
{
    padding-bottom: 2px;
}

#sidebar, operations li a
{
    font: bold 12px Arial;
    color: #0066A4;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none;
}

#sidebar, operations li a:visited
{
    color: #0066A4;
}

#sidebar, operations li a:hover
{
    background: #80CFFF;
}
[class*='col-'] {
    float: left;
    content: "";
    display: block;
    
}
[class*='col-']:last-of-type {
    padding-right: 20px 0 20px 20px;
}
.col-2-3 {
    width: 66.66%;
}
.col-1-3 {
    width: 33.33%;
}
.col-1-2 {
    width: 50%;
}
.col-1-4 {
    width: 25%;
}
.col-1-8 {
    width: 12.5%; 
    padding: 0px;
}
.grid:after {
    content: "";
    display: table;
    clear: both;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.grid-pad {
    padding: 20px 0px 20px 20px;

}
[class*='module'] {
    display: block;
    content: "";  
    /*border-style: dashed;*/
    border-color: #e1e4d2;
    border-width: 1px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    position: relative;
 /*2px 2px 4px #abaca5;*/ 
    box-shadow: 10px 10px 5px #888888;
}
[class*='module'] ul {
    display: block;
}
.module1 {
    display: block;
    background: #314f6a;
    z-index: 1;
}
div.mod1_image {
    display: block;
    background-size:100%;
    background-image: url("../assets/images/main/education.jpg");
    background-repeat: no-repeat;
    background-position: 50% 100%;

}
[class*='half_mod'] {
    display: block;
    content: "";  
    border-style: dashed;
    border-color: #e1e4d2;
    border-width: 1px;
    margin-right: 5px;
    margin-left: 5px;
/*    margin-bottom: 5px;
    margin-top: 5px;*/
    padding-right: 5px;
    padding-left: 5px;
/*    padding-bottom: 5px;
    padding-top: 5px;*/
}
.half_mod_top {
    margin-bottom: 0px;
    margin-top: 5px;
/*    padding-bottom: 0px;
    padding-top: 5px;*/
}
.half_mod_bottom {
/*    padding-bottom: 5px;
    padding-top: 0px;*/
    margin-bottom: 5px;
    margin-top: 0px;
}

.menu1-img {

    padding: 0px;
    background-image: url("../assets/images/main/education.jpg");
    /*background-repeat: no-repeat;*/
    /*    background-attachment:fixed;*/
    /*background-position: center bottom;*/ 
}
.menu1-bg {
    padding: 0px;
    background: #314f6a;
    /*background: #2989d8;  Old browsers 
     IE9 SVG, needs conditional override of 'filter' to 'none' 
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI4JSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMTRmNmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #2989d8 0%, #207cca 28%, #314f6a 100%);  FF3.6+ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2989d8), color-stop(28%,#207cca), color-stop(100%,#314f6a));  Chrome,Safari4+ 
    background: -webkit-linear-gradient(top,  #2989d8 0%,#207cca 28%,#314f6a 100%);  Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(top,  #2989d8 0%,#207cca 28%,#314f6a 100%);  Opera 11.10+ 
    background: -ms-linear-gradient(top,  #2989d8 0%,#207cca 28%,#314f6a 100%);  IE10+ 
    background: linear-gradient(to bottom,  #2989d8 0%,#207cca 28%,#314f6a 100%);  W3C 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#314f6a',GradientType=0 );  IE6-8 */
}
/*.flip  img { min-height: 100%; }*/
/*.feature.flip span.date { color: white; color: rgba(255,255,255,0.5); }
.feature.flip p { padding: 0 10px; }
.feature { height: 200px; }

.feature.noflip > a { position: absolute; height: 100%; width: 100%; }
.feature.noflip > div {
	height: 100%;
	width: 100%;
	top: 100%;
}
.feature.noflip h3 {
	position: absolute;
	left: 0;
	padding: 55px 10px 10px 37%;
	font-size: 2em;
	line-height: 1em;
	z-index: 50;
}


.feature .slide-front, .feature .slide-back {
	top: 0px;
  left: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 20;
}
.feature .slide-back { z-index: 10; }

.feature > div, .feature > div.slide-front, .feature > div.slide-front img { background-color: #314f6a !important; color: white !important; }
.feature .slide-front { cursor: pointer; }

.feature ul.list-links li a {
	color: white;
	padding: 5.5px 7px;
	border-color: white;
	border-color: rgba(255,255,255,0.2);
	font-size: 1em;
}
.feature.tall ul.list-links li a { padding: 9.5px 7px; }
.feature ul.list-links li a:hover { background-color: #2e3e4f; background-color: rgba(0,0,0,0.5); }

.flip > h3 { font-size: 2.4em; color: white; color: rgba(255,255,255,1); position: absolute; bottom: -1px; left: 0; z-index: 500; width: 100%; min-height: 20px; background: url('../images/layout/flip-gradient.png') repeat-x top; text-align: center; text-align: left; letter-spacing: -0.07em; line-height: 1em; padding: 15px 40px 10px 15px; margin-bottom: 0; cursor: default; }
.feature h3 .small { font-size: 0.5em; letter-spacing: -0.05em; text-transform: uppercase; line-height: 0em; }

.feature.active h3 { color: white; color: rgba(255,255,255,0.7); }
.feature.active h3:hover { opacity: 1; }

.feature .slide-front img { height: 100%; width: inherit; max-width: none; }
.feature.noflip div img, .feature.flip div img { height: 100%; max-width: none; width: 325px; position: absolute; margin-left: -162px; left: 50%; }
.feature.wide div img { width: 660px; margin-left: -330px; }

.feature i.return { top: 50%; margin-top: -7px; right: 15px; position: absolute; }
.feature i.return {  display: inline-block; width: 22px; height: 22px; opacity: 0.5; cursor: pointer;
	background: url('/images/layout/icons/arrows/down-white.png') no-repeat center center; 
	transition: 				all 0.2s ease 0.4s;
	-webkit-transition: all 0.2s ease 0.4s;
	-moz-transition:		all 0.2s ease 0.4s;
	-o-transition: 			all 0.2s ease 0.4s;
}
.feature:hover i.return { opacity: 0.8; }

.feature i.return { background-image: url('/images/layout/icons/arrows/right-white.png'); }
.feature.active i.return { background-image: url('/images/layout/icons/arrows/left-white.png'); }
.feature[data-direction="vertical"].active i.return {  background-image: url('/images/layout/icons/arrows/up-white.png'); }
.feature[data-mode="flip"] { overflow: visible; }
.feature[data-mode="flip"].active .flip-front { box-shadow: none; border: 0; }
.feature[data-mode="flip"] i.return { display: inline-block; opacity: 1; float: none; margin-left: 5px; }
ul, .no-list ul, .no-list ul li, ul.links, ul.links li { list-style: none; padding: 0; margin: 0;  }
ul.no-list li:before, ul.list-links li:before { content: '' !important; margin: 0; }
ul.no-list li:before, .flex-direction-nav li:before { content: '' !important; margin: 0; display: block; }
ul.no-list li, ul.links li { display: inline-block; }
html.ie7 ul.no-list li, ul.links li { display: inline; }
ul.list-links { list-style: none; margin: 0 0 10px; padding: 0; }
ul.list-links li { line-height: 16px; width: 100%; }
ul.list-links li a { display: block; font-size: 0.9em; padding: 5px 0; border-bottom: 1px solid #ddd; }
ul.list-links li:last-child a { border-bottom: none; }
ul.large-links li a { font-size: 1.1em; padding: 10px; }

ul.list-links li.divide a { border-bottom: 1px dashed #c1bdaa; padding-bottom: 10px; margin-bottom: 5px; }

.boxed, .articles.masonry .item-list, img.special, .vcard, .vcard-maps, .content .gsc-result { border: 1px #abaca5 solid; box-shadow: 2px 2px 4px #abaca5; background: white; color: #222; }
.boxed:after { content: ''; clear: both; width: 1px; height: 1px; display: block; }
.boxed { margin-bottom: 20px; }
.boxed:last-child { margin-bottom: 0; }
.padded, .vcard, .vcard-maps, .content .gs-result { padding: 15px 15px; }
.boxed form { margin-bottom: 0; }

img.special { border: 1px #46515b solid; }

.dark { background: url('/images/layout/textures/bluer.jpg') center top repeat #516784; padding-top: 0 !important; border: 1px #46515b solid; color: white; }
.dark option { color: black; }
.dark *, .dark option:first-child { color: white; }
.dark p:last-child { margin-bottom: 0; padding-bottom: 0; }

.boxed.dark:before { background: url('/images/layout/textures/sidebar.jpg') left top repeat-x; display: block; width: 100%; height: 50px; position: absolute; top: 0; left: 0; z-index: 100; }
.dark h2, .dark h3 { margin: 0; color: #f0e8ba; text-shadow: 1px 1px 0 rgba(0,0,0,0.9); }
.dark h3 { margin-bottom: 5px; }
.dark a { color: white; }

.boxed.dark a { opacity: 0.7; }
.boxed.dark a:hover { opacity: 1; }
.boxed.dark ul.list-links li a { padding: 7px 10px; border-bottom-color: rgba(255,255,255,0.2); }
.boxed.dark ul.list-links li a:hover { background: rgba(0,0,0,0.2); opacity: 1; }

.boxed.grey { background: url('/images/layout/textures/grey.jpg') center top repeat #dcdcdc; }

.boxed.dark .texture-cap { background: url('/images/layout/textures/sidebar.jpg') no-repeat center top; }
.boxed.dark > .padded > .mobile-selection:first-child h2, .boxed.dark > .padded > h2:first-child { margin-top: 0; padding-top: 0; }

.boxed ul.list-links { margin: 0; }

iframe { width: 100%; }
.item iframe { height: 100%; }*/
