body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#menu-top 
{ 
	/* Size & position */
	position: relative; 
    margin: 0 auto;
    padding-bottom: 18px;
	padding-top: 12px;
	z-index: 10;
	background: #0066AA;
    /* Styles */
    border-radius: 5px;
	box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
	color:#FFAA77;
}
#menu-top li { 
	border-radius: 5px 5px 0 0;
	padding-top: 5px;
	list-style: none; 
	height: 36px;
	float: left; 
	overflow: visible; 
}
#menu-top li.dropdown span:after{
	content: "▼";
}
#menu-top ul li.dropdown:hover > ul{ 
	display: block; 
	text-decoration: none;
    color: #333;
    padding: 10px 0;
}
#menu-top a.toplink {
	padding-bottom: 18px;
}
#menu-top a.toplink:hover{
	border-radius: 5px 5px 0 0;
	text-decoration: none;
	color: #0066AA;
    background: #FFAA77;
	transition: all 0.3s ease-out;
}
#menu-top ul li a {
	color:#FFAA77;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}
#menu-top ul li.dropdown span {
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
	cursor:hand;
	cursor:pointer;
}
#menu-top ul li.dropdown span:hover {
	border-radius: 5px 5px 0 0;
	background: #FFAA77;
	box-shadow: none;
	transition: all 0.3s ease-out;
}
#menu-top ul li.dropdown:hover {
    background: #FFAA77;
    box-shadow: none;
    color: #0066AA;
}
#menu-top ul li.dropdown a:hover {
    box-shadow: none;
    color: white;
}
#menu-top ul li.dropdown ul { 
	display: none; 
	position: absolute; 
	top: 100%;
	background: #336699;
	height: auto;
	border-style:outset;
	border-width:5px;
	border-bottom-color: #FF9966;
	border-right-color: #FF9966;
	border-left-color: #FFAA77;
	border-top-color: #FFAA77;
}

#menu-top ul li.dropdown.last {
	float:right;
	padding-right: 15px;
}

fieldset.news{
	border-style:outset;
	border-width:5px;
	border-bottom-color: #FF9966;
	border-right-color: #FF9966;
	border-left-color: #FFAA77;
	border-top-color: #FFAA77;
}
fieldset.news legend{
	font-weight: bold;
	font-size: 18px;
}
#menu-top ul li ul li.active a,
#menu-top ul li ul li{clear: left;}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}