themes/classic/views/
nbproject/
protected/modules/srbac/messages/
protected/modules/srbac/views/authitem/install/el_gr/
assests/uploads/
assests/videos/
protected/runtime/application.log
protected/runtime/application.log.1
index.php
!/protected/modules/evaluations/views/evaluationQuestions/index.php
!/protected/modules/evaluations/views/evaluations/index.php
!/protected/modules/videos/views/videos/index.php
/assets/videos/
!/protected/modules/bugtracker/views/issueTracker/index.php
!/protected/modules/issuetracker/views/issueTracker/index.php