RewriteEngine on

# Send the requests for the favicon to the correct folder.
RewriteRule ^favicon\.ico$ /images/favicon.ico [L]

# If a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise forward it to index.php
RewriteRule . index.php
